[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "worldfootballR"]
	path = worldfootballR
	url = https://github.com/jaseziv/worldfootballr
	shallow = true
	registered = true
[submodule "nblR"]
	path = nblR
	url = https://github.com/jaseziv/nblr
	shallow = true
	registered = true
